.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100px;
}

.main-layout {
  display: flex;
  flex: 1;
}

.content-area {
  flex: 1;
  padding: 20px;
  background-color: aqua;
}
